.header {
  @extend .display_flex_column;
  width: 100%;
  &__logo {
    padding: 20px 0 10px 0;
    margin-bottom: 3px;
    text-align: center;
    box-shadow: 0px -1px 3px 4px #dadada;
    width: 100%;
  }
  &__location {
    @extend .display_flex_center;
    align-items: center;
    background-color: #eaeaea;
    width: 100%;
    &--text {
      margin-left: 15px;
      font-family: $text-font;
    }
  }
}
