.loader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: $title-font;
  font-weight: 300;
  font-size: 20px;

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
  }
}

.c2 {
  width: 10px;
  height: 50px;
  background: $gradient;
  animation: loader1 0.75s infinite alternate;
  margin: 2px;
}

.c1,
.c3 {
  width: 10px;
  height: 40px;
  background: $gradient;
  animation: loader1 0.75s infinite alternate;
  margin: 2px;
}
.c0,
.c4 {
  width: 10px;
  height: 25px;
  background: $gradient;
  animation: loader1 0.75s infinite alternate;
}

.c1 {
  animation-delay: 0.09s;
}
.c2 {
  animation-delay: 0.18s;
}

.c3 {
  animation-delay: 0.37s;
}

.c4 {
  animation-delay: 0.5s;
}
