.explore__button {
  width: 60%;
  border-radius: 30px;
  margin-bottom: 30px;
  background: $gradient;
  border: none;
  color: white;
  font-size: 17px;
  font-family: $text-font;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.command {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  &__button {
    width: 50%;
    border-radius: 30px;
    margin: 30px;
    background: $gradient;
    border: none;
    color: white;
    font-size: 15px;
    font-family: $text-font;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
