.explore__button {
  @extend .display_flex_center;
  width: 60%;
  border-radius: 30px;
  margin-bottom: 30px;
  border: none;
  background: $gradient;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  font-family: $text-font;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  &:hover {
    background: linear-gradient(
      167deg,
      lighten($secondary-color, 3%),
      lighten($primary-color, 3%)
    );
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
  }
}

.command {
  @extend .display_flex_center;
  background-color: $background-color;
  padding-top: 15px;
  &__button {
    @extend .display_flex_center;
    width: 60%;
    border-radius: 30px;
    margin-bottom: 30px;
    border: none;
    background: $gradient;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    font-size: 17px;
    text-decoration: none;
    font-family: $text-font;

    &:hover {
      background: linear-gradient(
        167deg,
        lighten($secondary-color, 3%),
        lighten($primary-color, 3%)
      );
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    }
  }
}
