.explore__button {
  width: 60%;
  border-radius: 30px;
  margin-bottom: 30px;
  background: linear-gradient(167deg, $secondary-color, $primary-color);
  border: none;
  color: white;
  font-size: 17px;
  font-family: $text-font;
}
