@media screen and (min-width: 992px) {
  /* home_page */
  html {
    height: 100%;
  }
  body {
    height: 100%;
    min-height: 100%;
    padding: 0;
  }

  .bloc_page,
  .bloc-page {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
  }

  .header {
    margin: 10px;
    display: flex;
    flex-direction: row;

    &__logo {
      justify-content: flex-start;
      padding: 0;
      margin: 0;
      background: white;
      box-shadow: none;
    }
    &__location {
      justify-content: flex-end;
      padding: 10px;
      background-color: white;
    }
  }
  .explore {
    width: 100%;
    margin: auto;
    border-radius: 30px;
  }
  .explore__button {
    width: 20%;
  }
  .functioning {
    width: 100%;
    margin: auto;
  }
  .functioning__step {
    & ul {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      & a {
        width: 20%;
        font-size: 18px;
        & .numbers {
          width: 10px;
          height: 9px;
          margin: 0px 20px 0px -40px;
        }
      }
    }
  }
  .menu {
    & h1 {
      padding-top: 30px;
      padding-bottom: 10px;
    }
  }
  .menu__display {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu__list {
    width: 45%;
    margin: 10px;
  }

  footer {
    justify-content: center;
  }
  .footer {
    width: 98%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__title {
      margin: 0;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin: 0 auto;
      & li {
        margin: 5px;
      }
    }
  }
  /* Menu */

  .header {
    &__logo {
      position: relative;
      & a {
        left: unset;
        right: 10px;
      }
    }
  }
  .restaurant-photo__photo {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .restaurant {
    margin-top: 100px;
    &__title {
      justify-content: center;

      & h3 {
        margin-right: 20px;
        font-size: 30px;
      }
    }
    &__menu {
      &--text {
        width: 80%;
      }
      &--title {
        align-items: center;
      }
    }
  }

  .menu_meal {
    display: flex;
    align-items: flex-start;
  }
  .command__button {
    width: 20%;
  }
}

@media screen and (min-width: 768px) {
  .functioning__step {
    & ul {
      & a {
        & li {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
  .menu {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 30px;
    padding: 0;

    & h1 {
      padding-top: 30px;
      padding-bottom: 10px;
    }
  }
  .menu__display {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu__list {
    width: 45%;
    margin: 10px;
  }

  footer {
    display: flex;
    justify-content: center;
    height: 10%;
  }
  .footer {
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__title {
      margin: 0;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin: 0 auto;
      & li {
        margin: 5px;
      }
    }
  }
}
