@keyframes apparition {
  0% {
    opacity: 0%;
    transform: translateY(15px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@keyframes in {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes out {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes check_text {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    transform: translateX(-999999px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes loader1 {
  0% {
    transform: scale(1, 0.25);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes translate {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-9999px);
  }
}
